body{

     background-color: grey;   
     
}

header{
     text-align: center;
     font-size: 35px;

}
nav{
   
     text-decoration: none;
     text-align: center;
     font-size: 25px;
     width: 100%;
     border:solid black;
}
a{

     text-decoration:  none;
     color:Black;
}
video{

     width: 640px;
     height: 480px;

}